body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    height: 13vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 7vh;
}

#liens {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/* slider */
.slider{
    width: 1200px;
    overflow: hidden;
    margin: auto;
}
.slides{
    width: calc(1200px * 3);
    animation: glissement 30s infinite;
}
.slide{
    float: left;
}

@keyframes glissement{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-1200px);
    }
    66%{
        transform: translateX(-2400px);
    }
    100%{
        transform: translateX(0);
    }

}

