body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(35, 35, 35);
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

a, p {
    color: white;
    text-decoration: none;
}

/* Header */

header {
    height: 12vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 7vh;
}

#liens {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.sub_lien {
    padding: 8px;
    border-radius: 3px;
    transition: 0.3s
}

.sub_lien:hover {
    background-color: rgb(33, 33, 33);
}

/* Preview */

#previews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15vw;
}

.preview {
    height: 500px;
    width: 400px;
    position: relative;
}

#preview1image {
    background: center no-repeat url("images/tattoo_man.png");
}

#preview2image {
    background: center no-repeat url("images/tattoo_woman.png");
}

#preview3image {
    background: center no-repeat url("images/piercing.png");
}

#preview4image {
    background: center no-repeat url("images/phone.png");
}

.preview_image {
    filter: blur(2px);
    -webkit-filter: blur(2px);

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.preview_text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 3px);
    height: calc(80% + 3px);
    overflow: hidden;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    z-index: 3;
    border: 3px solid black;
    overflow: hidden;
}

.preview_text h2 {
    padding: 10% 10% 0 10%;
}

.preview_text p {
    padding: 0 10% 10% 10%;
}

/* Slider */

.slider {
    width: 1200px;
    overflow: hidden;
    margin: auto;
}

.slides {
    width: calc(1200px * 3);
    animation: glissement 30s infinite;
}

.slide {
    float: left;
}

@keyframes glissement {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-1200px);
    }

    66% {
        transform: translateX(-2400px);
    }

    100% {
        transform: translateX(0);
    }

}

/* Footer */

#ReseauxS {

    margin-left: 20px;
    display: flex;

}

.icone>a>img {
    margin-left: 10px;
    width: 50px;
}

#titre_reseaux {
    padding-left: 28px;
    align-items: center;

}

#image_localisation>img {
    height: 120px;
    border-radius: 10%;

}

#footer {
    display: flex;
    justify-content: space-around;

}

#texte_adresse {

    display: flex;
}

#localisation {
    display: flex;
    align-items: center;

}

.texte_adresse {
    margin-left: 20px;
    font-weight: bold;
}

footer {
    padding-top: 10px;
    background-color: black;
    width: 100%;

}

#container2 {
    font-weight: bold;
    display: flex;

    flex-direction: column;
}

#email {
    color: #b6b6b6;
}